
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');

/* DEFAULT */
body {
    font-family: "DM Sans", Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    background: #f0f8ff;
}

h1, h2 {
    font-family:"DM Serif Display", serif;
}

h2 {
    font-size:25px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size:19px;
    padding-top: 3%;
    margin-bottom: 1px;
}

p {
    font-family: "DM Sans", Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size:18px;
}

/* LINK STYLING */
a:link {
    color:#046db8;
}

a:visited {
    color: #5ba0dd;
}

a:hover {
    opacity: 80%;
}

a:active {
    opacity:60%;
}

/* OFFCANVAS MENU */
.side-menu {
    position:fixed;
    top:0;
    right:0;
}

a.nav-link {
    font-size:24px;
}

/* Scroll button */
.scroll-up {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #000;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
 .scroll-up:hover {
    background-color: grey ;
  }
  
/* MAIN PAGE */

/* Carousel */
.carousel-item {
    width:100%;
    max-width:500px;
}

.caroimage {
    height:400px;
}

.carousel-text {
    color:#000;
    float:right;
}

/* Carousel menu */
a:link.icon-link, a:visited.icon-link {
    color:#000;
    opacity: 100%;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 36px;
    transition: all .2s ease-in-out;
    -moz-transition:all .2s ease-in;
    -o-transition:all .2s ease-in;
    -webkit-transition:all .2s ease-in;
}

a:hover.icon-link{
    opacity: 60%;
}

a img {
    width:25px;
    height:25px;
    margin:1%;
}

a:hover img {
    transform:translate(0.25rem);
    transition:all .2s ease-in-out;

}

.icon-link {
    text-decoration: none;
    color:#000;
}

/* SECTIONS */
section {
    height:100%;
    min-height:100vh;
    width:auto;
    background-color: #f0f8ff;
    padding-bottom: 5%;
    display:flex;
    align-items: center;
}



/* ABOUT PAGE */
.profilepic {
    height:auto;
    width:100%;
    margin-bottom:15px;
}

#skills {
    max-width:900px;
    margin:auto;
}

.rating {
    display:block;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: none;
    border:2px solid #000;
    border-radius: 50%;
    display: inline-block;
  }
  
.dot.fill {
    background-color:#000;
}

/* EDUCATION PAGE */ 
td.info, tr.info, .info span, span.info {
    font-family: "DM Mono", monospace;
    font-weight: 200;
    font-style: normal;
    font-size:16px;
    display: block;
}

table {
    margin-bottom:15px;
    width:100%;
}

/* VOLUNTEERING SECTION */
.card-columns {
    display:inline-block;
}
  
/* FAVICON */
.fa {
  font-size: 30px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  opacity: 0.75;
  transition: ease .7s;
}

.fa:hover {
    opacity:0.5;
}

.fa::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

  /* CONTACT PAGE */
.backdrop {
    width:100%;
    height:100%;
    background: #5ba0dd url("../IMG/debora-pilati-dOG0z4-gqp0-unsplash.jpg") no-repeat fixed top;
    background-size:cover;
}

.contactcard {
    background-color: #f0f8ff;
    width:100%;
    padding:150px;
}
